<!DOCTYPE html>
<html>
<head>
  <title>Bloggerater</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"></script>
</head>
<body>
  <div class="sticky">
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">BloggeRater</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li class="active"><%= current_user.email %></li>
        <li class="active"><%= link_to "Sign Out", destroy_user_session_path%></li>
      <% else %>
        <li class="active"><%= link_to "Sign up", new_user_registration_path%></li>
        <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
      <%end%>
    </ul>

    <ul class="left">
      <li><a href="#">Categories</a></li>
    </ul>
  </section>
</nav>
</head>

<body>

<%= yield %>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

</body>
</html>
